@import 'tailwindcss';

.share-tech-mono-regular {
  font-family: 'Share Tech Mono', monospace;
  font-weight: 400;
  font-style: normal;
}

body {
  background: var(--color-dark-blue);
  min-height: 100vh;
}

html,
body {
  font-family: 'Share Tech Mono', monospace;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-cyan: #22d3ee;
  --color-blue: #00b8db;
  --color-petroleum-blue: #0c1426;
  --color-dark-blue: #020e14;
  --color-gray: #90a7c9;
  --color-bluish-gray: #315264;
}

.scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: var(--color-cyan) var(--color-petroleum-blue);
}

/* Chrome, Edge e Safari */
.scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  background: var(--color-cyan);
  border-radius: 9999px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: var(--color-petroleum-blue);
  border-radius: 9999px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--color-petroleum-blue);
}
