@import './base.css';
@import 'tailwindcss';

#app {
  @apply my-0;
}

@theme {
  --color-cyan: #22d3ee;
  --color-blue: #00b8db;
  --color-petroleum-blue: #0c1426;
  --color-dark-blue: #020e14;
  --color-gray: #64748b;
  --color-bluish-gray: #315264;
}

.scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: var(--color-cyan) var(--color-petroleum-blue);
}

/* Chrome, Edge e Safari */
.scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  background: var(--color-cyan);
  border-radius: 9999px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: var(--color-petroleum-blue/50);
  border-radius: 9999px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--color-petroleum-blue);
}
